{% extends 'base.html' %}

{% block header %}
    <div id="nav-and-logout">
        <nav>
            <a id="header" href="{{ url_for('savingPage') }}">WordSaver</a>
            <ul id="nav-list">
                <li>
                    <p>Welcome back, {{ username }}!</p>
                </li>
                <li>
                    <a href="{{ url_for('savingPage') }}">Save</a>
                </li>
                <li>
                    <a href="{{ url_for('wordCountingPage', word='-', quantity='-') }}">Find&Count</a>
                </li>
                <li>
                    <a href="{{ url_for('wordTablePage') }}">Show me what you got!</a>
                </li>
            </ul>
        </nav>
        <form action="{{ url_for('logout') }}" method="GET">
            <button type="submit">Logout</button>
        </form>
    </div>
{% endblock %}