<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Word Saver</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <h1 id="header">Welcome to WordSaver!</h1>
        <small id="description">The best place to save a text word by word!</small>
    </header>
    {% block body %}{% endblock %}
</body>

</html>