{% extends 'base.html' %}

{% block header %}
<h1 id="header">Welcome to WordSaver!</h1>
<small id="description">The best place to save a text word by word!</small>
{% endblock %}
{% block main %}
<section>
    <form action="{{ url_for('authenticate') }}" method="POST">
        <h2>Login to start!</h2>
        <h4>Don't have an account? <a href="{{ url_for('registration_page') }}">Sign up</a>!</h4>
        <fieldset>
            <div class="card-header">Login</div>
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <button type="submit">Login</button>
        </fieldset>
    </form>
</section>
{% endblock %}