{% extends 'base.html' %}

{% block header %}
<h1 id="header">Welcome to WordSaver!</h1>
<small id="description">The best place to save a text word by word!</small>
{% endblock %}
{% block main %}
<section>
    <form action="{{ url_for('registrate') }}" method="POST">
        <h2>Join Now — It’s Free & Easy!</h2>
        <fieldset>
            <div class="card-header">Sign up</div>
            <input type="text" name="user_name" id="user_name" placeholder="Username">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <button id="loginButton" type="submit">Create Account</button>
        </fieldset>
    </form>
</section>
{% endblock %}