{% extends 'base-loggedin.html' %}

{% block head %}

{% endblock %}

{% block body %}
<main>
    <section>
        <form action="/" method="POST">
            <h2>Save your whole text!</h2>
            <h4>The words will be saved separately</h4>
            <fieldset>
                <div class="card-header">Save</div>
                <textarea rows="5" cols="80" name="input-text" id="input-text"
                    placeholder="Type your text here"></textarea>
                <button type="submit">Save</button>
            </fieldset>
        </form>
    </section>
</main>
{% endblock %}